<div class="news-card card mb-3" [ngClass]="config.customClass">
  <div class="card-body">
    <h6 class="card-title">
      <a [routerLink]="['/news', news.id]" class="text-decoration-none">
        {{ news.title }}
      </a>
    </h6>
    <p class="card-text">{{ news.summary }}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="news-meta">
        <i class="fas fa-user me-1"></i>
        {{ 'NEWS.AUTHOR' | translate }}: {{ news.author }}
        <i class="fas fa-calendar ms-3 me-1"></i>
        {{ 'NEWS.PUBLISH_DATE' | translate }}: {{ news.publishDate | date:'mediumDate' }}
      </div>
      <div *ngIf="config.showTags && getVisibleTags().length > 0">
        <span *ngFor="let tag of getVisibleTags()" class="tag">
          {{ tag }}
        </span>
      </div>
    </div>
  </div>
</div> 